<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aqib.icrave">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.aqib.icrave.controller.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aqib.icrave.controller.ImageActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.aqib.icrave.controller.RootActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.aqib.icrave.controller.ResultActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.aqib.icrave.controller.RootActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="RootActivity" />
        </activity>
        <activity
            android:name="com.aqib.icrave.controller.ConsentActivity"
            android:label="@string/title_activity_consent"></activity>
        <activity
            android:name="com.aqib.icrave.controller.NutritionActivity"
            android:label="@string/title_activity_nutrition"></activity>
        <activity
            android:name="com.aqib.icrave.controller.ICraveOptionsActivity"
            android:label="@string/title_activity_icrave_options"
            android:parentActivityName="com.aqib.icrave.controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="RootActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
